.header {
	&__logo {
		max-width: 120px;
		width: 100%;
		display: block;
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 18px;
		padding-bottom: 18px;
	}

	&__desktop {
		display: none;
		@media (min-width: 768px) {
			display: block;
		}

		&-list {
			display: flex;
			align-items: center;
		}

		&-link {
			align-items: center;
			color: #ffe159;
			display: flex;
			font-size: 20px;
			font-weight: 600;
			justify-content: center;
			margin: 0 0 0 10px;
			padding: 5px 30px;
			text-align: center;
			transition: all 0.3 ease-in-out;

			&:hover,
			&:focus {
				color: #000;
			}
		}
	}

	&__mobile {
		@media (min-width: 768px) {
			display: none;
		}
	}

	&__burger {
		@media (min-width: 768px) {
			display: none;
		}
	}

	&__overlay {
		position: fixed;
		height: 100vh;
		width: 100vh;
		top: 0;
		left: 0;
		right: 0;
		z-index: 5;
		transition: all 0.3s ease-in-out;
		opacity: 0;
		visibility: hidden;
		user-select: none;

		&--is-open {
			background: rgba(0, 0, 0, 0.5);
			opacity: 1;
			visibility: visible;
			user-select: unset;

			.header__side {
				transform: translateX(0%);
			}
		}
	}

	&__side {
		max-width: 230px;
		width: 100%;
		background-color: #fff;
		min-height: 100vh;
		height: 100%;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 30;
		transform: translateX(100%);
		transition: transform 0.25s ease-in-out;
		overflow: auto;

		//media
		@include mq(sm) {
			max-width: 290px;
		}
		&-row {
			padding: 25px 25px 0;
			border-top: 1px solid #bed1ed;
		}
	}

	&__menu {
		display: grid;
		gap: 25px;
		margin-bottom: 25px;

		&-link {
			font-size: 20px;
			font-weight: 600;
			color: #292f36;
		}
	}

	&__social.social {
		display: flex;
		align-items: center;
		gap: 20px;

		img {
			img {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				transition: all 0.3 ease-in-out;
			}
			&:hover,
			&:focus {
				// background-color: #9c5aec;
				// box-shadow: 0 6px 8px rgb(200 209 222 / 70%);
				img {
					box-shadow: 6px 6px 8px rgb(200 209 222 / 70%);
				}
			}
		}
	}
}

.social-ico {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transition: all 0.3 ease-in-out;
	&:hover,
	&:focus {
		box-shadow: 6px 6px 8px rgb(200 209 222 / 70%);
	}
}
