// container
.container {
	max-width: 1540px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

h1,
h2,
h3,
button,
a {
	font-family: 'Museo Sans Cyrl', system-ui, Tahoma, sans-serif;
	font-weight: 500;
}

a {
	transition: all 0.3s ease-in-out;
}
